*.log
**/*.iml
**/*target
**/*.idea
*.iml
.idea/
target/
.logs/
*.xlsx
.allure/
allure-results/
*.jpeg
*.mp4
# Eclipse Core      
.project
.settings/

# JDT-specific (Eclipse Java Development Tools)     
.classpath
